body {
    background-color: black;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#first_view {
    position: relative;
    width: 100%;
    height: 752px;
    overflow: hidden;
}

#first_view>video {
    width: 100%;
}

.start_view {
    position: absolute;
    width: 40%;
    height: 200px;
    color: white;
    top: 40%;
    margin-top: -100px;
    left: 30%;
}

.start_view h1 {
    text-align: center;
    font-size: 100px;
}

.start_view h2 {
    text-align: center;
    font-size: 65px;
}

.start_view_btn {
    position: absolute;
    width: 500px;
    top: 63%;
    left: 50%;
    margin-top: -60px;
    margin-left: -250px;
}

.btn_style {
    font-size: 20px;
    color: white;
}

.btn_hover {
    font-size: 30px;
    color: red;
    background-color: yellow;
}

.start_view_btn>div {
    /*.start_btn .read_btn*/
    width: 200px;
    height: 120px;
    border: 1px solid white;
    border-radius: 100px;
    float: left;
    margin-left: 33.33px;
    text-align: center;
    line-height: 120px;
    cursor: pointer;
}

.game_mission {
    width: 100%;
    height: 120px;
    color: white;
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

#answer {
    width: 400px;
    color: black;
    border: 1px solid white;
    position: absolute;
    bottom: 10%;
    left: 50%;
    margin-left: -200px;
    font-size: 25px;
}

#game {
    width: 70%;
    height: 500px;
    position: absolute;
    top: 10%;
    left: 15%;
    border: 1px solid white;
    text-align: center;
    background-color: white;
    font-size: 20px;

}

#gameview {
    border: 1px solid black;
    position: absolute;
    top: 30%;
    left: 50%;
    width: 200px;
    height: 150px;
    margin-left: -100px;
    font-size: 80px;
    /* line-height: 150px; */
}

#gameview h2 {
    position: absolute;
    left:10%;
    top:-30%;
    font-size: 80px;
}
#gameview p {
    position: absolute;
    left:10%;
    top:-40%;
    font-size: 80px;
}


.score_box {
    width: 250px;
    height: 25px;

    position: absolute;
    bottom: 18%;
    left: 50%;
    margin-left: -125px;
    /* border: 1px solid white; */
    color: white;
}

.score_box div {
    text-align: center;
    float: left;
    width: 120px;
    height: 25px;
    line-height: 25px;
    border: 1px solid white;
    box-sizing: border-box;
}

.start_and_load {
    width: 100px;
    height: 20px;

    position: absolute;
    bottom: 12%;
    left: 33%;
    margin-left: -50px;
}

.LSbtn {
    cursor: pointer;
    width: 90px;
    background-color: rgb(1, 43, 122);
    color: rgb(255, 226, 240);
}

.loading {
    width: 90px;
    background-color: rgb(104, 104, 104);
    color: rgb(216, 216, 216);
    cursor: not-allowed;
    pointer-events: none;
}

.another_way {
    position: absolute;
    width: 50px;
    height: 30px;
    top: 0;
    left: 0;
    color: white;
    /* 끝나면 색갈검정처리 ㄱ */
    color: black;
}

.all-time {
    width: 100px;
    height: 30px;
    line-height: 30px;
}

.finnaly_view {
    border: 1px solid white;
    width: 40%;
    overflow: hidden;
    margin: auto;
    margin-top: 5%;
    text-align: center;
    color: white;
    font-size: 30px;
}

.fin_score {
    width: 100%;
    height: 50%;
    float: left;
}

.fin_btn {
    width: 100%;
    height: 50%;
    float: left;
    padding-top: 10%;
}

.replay {
    width: 50%;
    float: left;
    padding: 10% 0;
    cursor: pointer;
}

.exit {
    width: 50%;
    float: right;
    padding: 10% 0;
    cursor: pointer;
}

.fin_hover {
    color: black;
    background-color: yellow;
}
